table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: #16202d;
    color: #fff;
}

th, td {
    padding: 10px;
    text-align: center;
}

th {
    background: #66c0f4;
    color: #000;
}

tr:nth-child(even) {
    background: #1b2838;
}

tr:hover {
    background: #3b6b89;
}

.btn-voltar {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 15px;
    background: #66c0f4;
    color: #000;
    text-decoration: none;
    border-radius: 6px;
}
